.weather-container {
    color: #cccccc;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    margin: 1rem auto;
    width: 70%;
}

.weather-header {
    text-align: center;
    color: white;
    padding: 1rem;
    border-right: 1px solid rgb(41,41,41);
    border-left: 1px solid rgb(41,41,41);
    border-top: 1px solid rgb(41,41,41);
    border-radius: 15px;
}

.weather-body {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(41,41,41);
}

.weather-day {
    width: 20%;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(36, 36, 36);
    padding: 1rem 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 15px;
}

.weather-day::-webkit-scrollbar {
    display: none;
}
