.weather-container {
    color: #cccccc;
    font-family: 'Work Sans', sans-serif;
    margin: 1rem auto;
    border: 1px solid rgb(41,41,41);
    width: 50%;;
}

.weather-header {
    text-align: center;
    color: white;
    padding: 1rem;
    border-right: 1px solid rgb(41,41,41);
    border-left: 1px solid rgb(41,41,41);
    border-top: 1px solid rgb(41,41,41);
}

.weather-body {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(41,41,41);
}

.weather-day {
    width: 20%;
    text-align: center;
    border: 1px solid rgb(41,41,41);
    padding: 1rem 0.5rem;
    max-height: 100%;
    overflow-y: auto;
}

.weather-day::-webkit-scrollbar {
    display: none;
}
