.about {
    display: flex;
    flex-direction: column;
    color: white;
}

.about__title {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 90px;
}

.about__summary {
    display: flex;
    justify-content: center;
    margin: 10px 25% 50px 25%;
}