.banner {
  display: flex;
  overflow-x: scroll;
}

.banner::-webkit-scrollbar {
  display: none;
}

.banner {
    display: flex;
}

.banner__image {
    background-size: cover;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 450ms;
    box-shadow: 0px 6px 8px -6px black;
}

.banner__image:hover {
    cursor: pointer;
    transform: scale(1.02);
    opacity: 95%;
}
