* {
    margin: 0;
    padding: 0;
}

.app {
    background-image: url("./images/logo-dark.jpeg");
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: center bottom 30%;
    background-color: rgb(17, 17, 17);
}