.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.login__body {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    padding: 80px 30px;
    box-shadow: 0px 6px 8px -6px black;
}

.login__logo {
    object-fit: contain;
    width: 5vw;
    height: 2vh;
}

.login__header {
    display: flex;
    position: fixed;
    background-color: white;
    color: black;
    top: 0;
    width: 100%;
    margin-left: 20px;
    padding: 30px;
    height: 20px;
    z-index: 1;
}

.header__option {
    display: flex;
    align-items: center;
    transform: transform 450ms;
}

.header__option:hover {
    cursor: pointer;
    transform: scale(1.004);
    opacity: 85%;
}

.login__input {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    margin: 10px;
}

.login__input > input {
    border: none;
    outline: none;
    width: 10vw;
    padding: 10px;
    font-size: larger;
}

.login__password {
    display: flex;
    align-items: center;
    margin: 10px;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.login__password > input {
    border: none;
    outline: none;
    width: 10vw;
    padding: 10px;
    font-size: larger;
}

.login__button {
    display: flex;
    justify-content: space-around;
}

.login__button > button {
    display: flex;
    margin: 15px;
}

.login__footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}